body {
	background: black;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	height: 50px;
	width: 50px;
}

.postcard-header h1 {
	width: 100%;
	margin: 0%;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0%;
	text-align: left;
}

.body-left,
.body-right {
	padding: 10px;
}

input {
	border: none;
	border-bottom: 1px grey solid;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: rgba(123, 124, 129, 0.925);
	padding: 5px 10px;
}
